@model PortfolioProject.Models.Contact

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead", "Default")

<body>

    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar Start -->
    @Html.Action("PartialNavbar", "Default")
    <!-- Navbar End -->
    <!-- Header Start -->
    @Html.Action("PartialHeader", "Default")
    <!-- Header End -->
    <!-- About Start -->
    @Html.Action("PartialAbout", "Default")
    <!-- About End -->
    <!-- Education Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-3">
                    <div class="education-header bg-dark h-100 pt-6 pe-6 pb-6">
                        <div class="text-start d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                            <p class="text-white sub-title">Education</p>
                            <h1 class="display-6 text-white mb-0">My education qualification</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="education-content h-100 pt-6 ps-6 pb-6">
                        <div class="row g-4">
                            <div class="col-12">
                                <div class="education-item rounded p-4 h-100 wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="d-flex align-items-center mb-3">
                                        <p class="fs-5 mb-0 me-4">National University</p>
                                        <div>
                                            <span class="fa fa-calendar me-1"></span> 2017 - 2019
                                        </div>
                                    </div>
                                    <h4 class="mb-3">Diploma in Computer</h4>
                                    <p class="mb-0">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, a quasi velit sint atque non saepe quaerat ducimus, nobis error cupiditate, nisi repudiandae dignissimos magnam? Dicta ab possimus tempora nobis.
                                    </p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="education-item rounded p-4 h-100 wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="d-flex align-items-center mb-3">
                                        <p class="fs-5 mb-0 me-4">Webster College</p>
                                        <div>
                                            <span class="fa fa-calendar me-1"></span> 2017 - 2019
                                        </div>
                                    </div>
                                    <h4 class="mb-3">UI/UX Design</h4>
                                    <p class="mb-0">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, a quasi velit sint atque non saepe quaerat ducimus, nobis error cupiditate, nisi repudiandae dignissimos magnam? Dicta ab possimus tempora nobis.
                                    </p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="education-item rounded p-4 h-100 wow fadeInUp" data-wow-delay="0.5s">
                                    <div class="d-flex align-items-center mb-3">
                                        <p class="fs-5 mb-0 me-4">Oxford University</p>
                                        <div>
                                            <span class="fa fa-calendar me-1"></span> 2017 - 2019
                                        </div>
                                    </div>
                                    <h4 class="mb-3">Java Development</h4>
                                    <p class="mb-0">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, a quasi velit sint atque non saepe quaerat ducimus, nobis error cupiditate, nisi repudiandae dignissimos magnam? Dicta ab possimus tempora nobis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Education End -->
    <!-- Experience Start -->
    @Html.Action("PartialExperience", "Default")
    <!-- Exparience End -->
    <!-- Skills Start -->
    @Html.Action("PartialSkill", "Default")
    <!-- Skills End -->
    <!-- Service Start -->
    <div class="container-fluid" id="pigraService">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-3">
                    <div class="service-header h-100 bg-dark pt-6 pe-6 pb-6">
                        <div class="text-start d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                            <p class="text-white sub-title">My Services</p>
                            <h1 class="display-6 text-white mb-0">What I do for you</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="service-content h-100 pt-6 ps-6 pb-6">
                        <div class="row g-4">
                            <div class="col-12">
                                <div class="service-item p-4 wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="row g-4 align-items-center">
                                        <div class="col-xl-2">
                                            <i class="fas fa-bezier-curve fa-3x"></i>
                                        </div>
                                        <div class="col-xl-3">
                                            <a href="#" class="h4 mb-0">Creative Design</a>
                                        </div>
                                        <div class="col-xl-4">
                                            <p class="mb-0">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis laboriosam repudiandae
                                            </p>
                                        </div>
                                        <div class="col-xl-3">
                                            <p><i class="fa fa-check me-2"></i> UI/UX Design</p>
                                            <p><i class="fa fa-check me-2"></i> Research</p>
                                            <p class="mb-0"><i class="fa fa-check me-2"></i> Mobile App</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item p-4 wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="row g-4 align-items-center">
                                        <div class="col-xl-2">
                                            <i class="fas fa-laptop-code fa-3x"></i>
                                        </div>
                                        <div class="col-xl-3">
                                            <a href="#" class="h4 mb-0">Web Developm</a>
                                        </div>
                                        <div class="col-xl-4">
                                            <p class="mb-0">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis laboriosam repudiandae
                                            </p>
                                        </div>
                                        <div class="col-xl-3">
                                            <p><i class="fa fa-check me-2"></i> UI/UX Design</p>
                                            <p><i class="fa fa-check me-2"></i> Research</p>
                                            <p class="mb-0"><i class="fa fa-check me-2"></i> Mobile App</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item p-4 wow fadeInUp" data-wow-delay="0.5s">
                                    <div class="row g-4 align-items-center">
                                        <div class="col-xl-2">
                                            <i class="fab fa-app-store fa-3x"></i>
                                        </div>
                                        <div class="col-xl-3">
                                            <a href="#" class="h4 mb-0">Mobile Application</a>
                                        </div>
                                        <div class="col-xl-4">
                                            <p class="mb-0">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis laboriosam repudiandae
                                            </p>
                                        </div>
                                        <div class="col-xl-3">
                                            <p><i class="fa fa-check me-2"></i> UI/UX Design</p>
                                            <p><i class="fa fa-check me-2"></i> Research</p>
                                            <p class="mb-0"><i class="fa fa-check me-2"></i> Mobile App</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
    <!-- Portfolio Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-3">
                    <div class="portfolio-header h-100 bg-dark pt-6 pe-6 pb-6">
                        <div class="text-start d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                            <p class="text-white sub-title">Portfolio</p>
                            <h1 class="display-6 text-white mb-0">My Recent Works</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="portfolio-content h-100 pt-6 ps-6 pb-6">
                        <div class="portfolio-item py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                            <div class="row g-4 align-items-center">
                                <div class="col-xl-6">
                                    <h4 class="text-body">Web Design</h4>
                                    <h1 class="display-6 mb-0">Software Design for ABC Corporation</h1>
                                </div>
                                <div class="col-9 col-xl-4">
                                    <div class="portfolio-img">
                                        <div class="portfolio-img-inner">
                                            <img src="img/Portfolio-1.jpg" class="img-fluid" alt="Image">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 col-xl-2">
                                    <div class="view-img">
                                        <a href="img/Portfolio-1.jpg" class="btn btn-primary btn-lg-square" data-lightbox="Portfolio-1"><i class="fas fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-item py-5 border-bottom wow fadeInUp" data-wow-delay="0.3s">
                            <div class="row g-4 align-items-center">
                                <div class="col-xl-6">
                                    <h4 class="text-body">Web Development</h4>
                                    <h1 class="display-6 mb-0">Website Development for ABC Corporation</h1>
                                </div>
                                <div class="col-9 col-xl-4">
                                    <div class="portfolio-img">
                                        <div class="portfolio-img-inner">
                                            <img src="img/portfolio-2.jpg" class="img-fluid" alt="Image">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 col-xl-2">
                                    <div class="view-img">
                                        <a href="img/portfolio-2.jpg" class="btn btn-primary btn-lg-square" data-lightbox="portfolio-2"><i class="fas fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-item py-5 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="row g-4 align-items-center">
                                <div class="col-xl-6">
                                    <h4 class="text-body">Photography</h4>
                                    <h1 class="display-6 mb-0">Security Analysis for ABC Corporation</h1>
                                </div>
                                <div class="col-9 col-xl-4">
                                    <div class="portfolio-img">
                                        <div class="portfolio-img-inner">
                                            <img src="img/portfolio-3.jpg" class="img-fluid" alt="Image">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 col-xl-2">
                                    <div class="view-img">
                                        <a href="img/portfolio-3.jpg" class="btn btn-primary btn-lg-square" data-lightbox="portfolio-3"><i class="fas fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio End -->
    <!-- Testimonial Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-3">
                    <div class="testimonial-header h-100 bg-dark pt-6 pe-6 pb-6">
                        <div class="text-start d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                            <p class="text-white sub-title">Testimonial</p>
                            <h1 class="display-6 text-white mb-0">What People Say</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="testimonial-content h-100 pt-6 ps-6 pb-6">
                        <div class="testimonial-carousel owl-carousel bg-light wow fadeInUp" data-wow-delay="0.1s">
                            <div class="testimonial-item" data-dot="<img class='img-fluid' src='img/testimonial-img-1.jpg' alt=''>">
                                <div class="row gy-4 gx-2 mb-4">
                                    <div class="col-sm-6">
                                        <div class="d-flex justify-content-sm-end">
                                            <div class="testimonial-inner-img border border-primary border-3 me-4" style="width: 100px; height: 100px;">
                                                <img src="img/testimonial-img-1.jpg" class="img-fluid" style="object-fit: cover;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                            <h5 class="mb-2">John Abraham</h5>
                                            <p class="mb-0">New York, USA</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-sm-center">
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores nemo facilis tempora esse explicabo sed! Dignissimos quia ullam pariatur blanditiis sed voluptatum. Totam aut quidem laudantium tempora. Minima, saepe earum!
                                    </p>
                                    <div class="d-flex justify-content-sm-center">
                                        <i class="fas fa-star text-primary"></i>
                                        <i class="fas fa-star text-primary"></i>
                                        <i class="fas fa-star text-primary"></i>
                                        <i class="fas fa-star text-primary"></i>
                                        <i class="fas fa-star text-primary"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-item" data-dot="<img class='img-fluid' src='img/testimonial-img-2.jpg' alt=''>">
                                <div class="row gy-4 gx-2 mb-4">
                                    <div class="col-sm-6">
                                        <div class="d-flex justify-content-sm-end">
                                            <div class="testimonial-inner-img border border-primary border-3 me-4" style="width: 100px; height: 100px;">
                                                <img src="img/testimonial-img-2.jpg" class="img-fluid" style="object-fit: cover;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                            <h5 class="mb-2">John Abraham</h5>
                                            <p class="mb-0">New York, USA</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-sm-center">
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores nemo facilis tempora esse explicabo sed! Dignissimos quia ullam pariatur blanditiis sed voluptatum. Totam aut quidem laudantium tempora. Minima, saepe earum!
                                    </p>
                                    <div class="d-flex justify-content-sm-center">
                                        <i class="fas fa-star text-primary"></i>
                                        <i class="fas fa-star text-primary"></i>
                                        <i class="fas fa-star text-primary"></i>
                                        <i class="fas fa-star text-primary"></i>
                                        <i class="fas fa-star text-primary"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-item" data-dot="<img class='img-fluid' src='img/testimonial-img-3.jpg' alt=''>">
                                <div class="row gy-4 gx-2 mb-4">
                                    <div class="col-sm-6">
                                        <div class="d-flex justify-content-sm-end">
                                            <div class="testimonial-inner-img border border-primary border-3 me-4" style="width: 100px; height: 100px;">
                                                <img src="img/testimonial-img-3.jpg" class="img-fluid" style="object-fit: cover;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                            <h5 class="mb-2">John Abraham</h5>
                                            <p class="mb-0">New York, USA</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-sm-center">
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores nemo facilis tempora esse explicabo sed! Dignissimos quia ullam pariatur blanditiis sed voluptatum. Totam aut quidem laudantium tempora. Minima, saepe earum!
                                    </p>
                                    <div class="d-flex justify-content-sm-center">
                                        <i class="fas fa-star text-primary"></i>
                                        <i class="fas fa-star text-primary"></i>
                                        <i class="fas fa-star text-primary"></i>
                                        <i class="fas fa-star text-primary"></i>
                                        <i class="fas fa-star text-primary"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!-- Contact Start -->
    <div class="container-fluid" id="pigraContact">
        <div class="container">
            <div class="row g-0">
                @Html.Action("PartialContactSidebar", "Contact")
                <div class="col-lg-9">
                    <div class="contact-content h-100 pt-6 ps-6 pb-6">
                        <div class="bg-light p-4">
                            <div class="row g-5">
                                @Html.Action("PartialContactDetail", "Contact")
                                <div class="col-xl-7 wow fadeInUp" data-wow-delay="0.3s">
                                    <div>
                                        <form method="post">
                                            <div class="row g-3">
                                                <div class="col-lg-12 col-xl-6">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control border-0" id="name" name="NameSurname" placeholder="Adınız Soyadınız">
                                                        <label for="name">Adınız Soyadınız</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-xl-6">
                                                    <div class="form-floating">
                                                        <input type="email" class="form-control border-0" id="email" name="Email" placeholder="Email Adresiniz">
                                                        <label for="email">Email Adresiniz</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-xl-6">
                                                    <div class="form-floating">
                                                        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
                                                        <label for="phone">Kategori</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-xl-6">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control border-0" id="project" name="Subject" placeholder="Mesaj Konusu">
                                                        <label for="project">Mesaj Konusu</label>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-floating">
                                                        <textarea class="form-control border-0" placeholder="Mesajınızı yazın" name="Message" id="message" style="height: 120px"></textarea>
                                                        <label for="message">Mesajınız</label>
                                                    </div>

                                                </div>
                                                <div class="col-12">
                                                    <button class="btn btn-primary w-100 py-3">Mesajı Gönder</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                @Html.Action("PartialContactLocation", "Contact")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
    <!-- Footer Start -->
    @Html.Action("PartialFooter", "Default")
    <!-- Footer End -->
    @Html.Action("PartialScripts", "Default")
</body>

</html>