<div class="container-fluid" id="pigraHome">
    <div class="container">
        <div class="row g-0">
            <div class="col-12 col-lg-3">
                <div class="header-content bg-dark h-100 pt-6 pe-6 pb-6">
                    <a href="index.html" class="navbar-brand d-inline-flex pb-5 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="display-6 text-white mb-0">Portfolyo</h1>
                    </a>
                    <div class="text-start d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay="0.3s">
                        <p class="text-white sub-title">👋 Merhaba, ben Fatih Kürekçi</p>
                        <h1 class="display-6 text-white mb-0">Yazılım Geliştirici, Öğrenci</h1>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="header-img d-flex h-100 pt-6 ps-6 pb-6">
                    <div class="row g-5">
                        <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="bg-light p-4" style="border-radius: 68% 32% 100% 0% / 0% 75% 25% 100%;">
                                <img src="@ViewBag.ImageUrl" class="img-fluid w-100" style="border-radius: 68% 32% 100% 0% / 0% 75% 25% 100%;" alt="Image">
                            </div>
                        </div>
                        <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                            <h1 class="display-6 mb-4">@ViewBag.Title</h1>
                            <p class="mb-4">
                                @ViewBag.Description
                            </p>
                            <div class="d-flex align-items-center mb-2">
                                <i class="fas fa-map-marker-alt text-primary me-3"></i>
                                <p class="text-dark mb-0">@ViewBag.Address</p>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <i class="fas fa-envelope text-primary me-3"></i>
                                <p class="text-dark mb-0">@ViewBag.Email</p>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <i class="fa fa-phone-alt text-primary me-3"></i>
                                <p class="text-dark mb-0">@ViewBag.Phone</p>
                            </div>
                            <div class="d-flex align-items-center mb-4">
                                <i class="fab fa-firefox-browser text-primary me-3"></i>
                                <p class="text-dark mb-0">@ViewBag.Github</p>
                            </div>
                            @Html.Action("PartialSocialMediaHeader", "Default")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>