@model List<PortfolioProject.Models.Testimonial>

<div class="container-fluid" id="pigraTestimonial">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-3">
                <div class="testimonial-header h-100 bg-dark pt-6 pe-6 pb-6">
                    <div class="text-start d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                        <p class="text-white sub-title">Referanslarım</p>
                        <h1 class="display-6 text-white mb-0">İş Yaptığım Kişilerin Hakkımda Yorumları</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="testimonial-content h-100 pt-6 ps-6 pb-6">
                    <div class="testimonial-carousel owl-carousel bg-light wow fadeInUp" data-wow-delay="0.1s">
                        @foreach (var item in Model)
                        {
                            <div class="testimonial-item" data-dot="<img class='img-fluid' src='@item.Portfolio.ImageUrl' alt=''>">
                                <div class="row gy-4 gx-2 mb-4">
                                    <div class="col-sm-6">
                                        <div class="d-flex justify-content-sm-end">
                                            <div class="testimonial-inner-img border border-primary border-3 me-4" style="width: 100px; height: 100px;">
                                                <img src="@item.Portfolio.ImageUrl" class="img-fluid" style="object-fit: cover;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                            <h5 class="mb-2">@item.NameSurname</h5>
                                            <p class="mb-0">@item.Portfolio.Title</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-sm-center">
                                    <p>
                                        @item.Comment
                                    </p>
                                    <div class="d-flex justify-content-sm-center">
                                        @for (int i = 0; i < int.Parse(item.Star); i++)
                                        {
                                            <i class="fas fa-star text-primary"></i>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .testimonial-inner-img img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Görselleri orantılı stretch yapar */
    }

    .img-fluid {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Görselleri orantılı stretch yapar */
    }
</style>
