@using PagedList
@using PagedList.Mvc

@model IPagedList<PortfolioProject.Models.Skill>

@{
    ViewBag.Title = "SkillList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yetenek Listesi ve İşlemleri</h2>

<a href="/Skill/CreateSkill/" class="btn btn-info">Yeni Yetenek Girişi</a>

<br />
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Derece</th>
        <th>İkon</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.SkillID</th>
            <td>@item.SkillName</td>
            <td>@item.Rate</td>
            <td>@item.Icon</td>
            <td>
                <a href="/Skill/UpdateSkill/@item.SkillID" class="btn btn-warning">Güncelle</a>
                <a href="/Skill/DeleteSkill/@item.SkillID" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("SkillList", new { page }))


<style>
    .pagination {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        list-style-type: none;
    }

    .pagination li {
        margin: 0 5px;
    }

    .pagination li a, .pagination li span {
        display: block;
        padding: 8px 12px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    .pagination li a:hover {
        background-color: #0056b3;
    }

    .pagination li.active span {
        background-color: #0056b3;
        font-weight: bold;
    }

    .pagination li.disabled span {
        background-color: #ccc;
        cursor: not-allowed;
    }

    .pagination li.active span, .pagination li.disabled span {
        color: white;
    }
</style>
