@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@Html.Action("PartialHead", "Admin")

<body>
    <div class="wrapper d-flex align-items-stretch">

        @Html.Action("PartialSidebar", "Admin")

        <div id="content" class="p-4 p-md-5">

            @Html.Action("PartialNavbar", "Admin")

            @RenderBody()
            
        </div>
    </div>

    @Html.Action("PartialScripts", "Admin")

</body>
</html>