@model List<PortfolioProject.Models.Education>

@{
    ViewBag.Title = "EducationList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Eğitim Hayatı Listem</h2>

<a href="/Education/CreateEducation" class="btn btn-info">Yeni Eğitim Bilgisi Girişi</a>

<br />
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Bölüm</th>
        <th>Açıklama</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EducationID</td>
            <td>@item.Title</td>
            <td>@item.SubTitle</td>
            <td>@item.Department</td>
            <td>@item.Description</td>
            <td>
                <a href="/Education/UpdateEducation/@item.EducationID" class="btn btn-warning">Güncelle</a>
                <a href="/Education/DeleteEducation/@item.EducationID" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }
</table>