@model PortfolioProject.Models.Education

@{
    ViewBag.Title = "UpdateEducation";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Eğitim Bilgisi Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.EducationID)
    <label>Eğitim Başlığı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Eğitim Alt Başlığı</label>
    @Html.TextBoxFor(x => x.SubTitle, new { @class = "form-control" })
    <br />
    <label>Bölüm</label>
    @Html.TextBoxFor(x => x.Department, new { @class = "form-control" })
    <br />
    <label>Eğitim Açıklaması</label>
    @Html.TextAreaFor(x => x.Description, 5, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Eğitimi Güncelle</button>
</form>